<#include "frame_public.html">

<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">    		
            <div class="col-sm-12">   
                <div class="features_items">                
                    <h2 class="title text-center">PUBBLICAZIONI <strong>EFFETTUATE</strong></h2>    			    				    				
                    <#if operepersonali ??>
                    <#list operepersonali as Libro>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img id="imgmult" src="${Libro.path}" alt="" />
                                    <h2>${Libro.titolo}</h2>
                                    <h5>${Libro.editore}</h5>
                                    <a href="operasingle?id=${Libro.identificatore}" class="btn btn-default add-to-cart">Leggi</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    </#list>
                    </#if>
                    
                </div>
            </div>			 		
        </div>    	
        
    </div>	
</div><!--/#contact-page-->

<#include "footer.html">