<#include "frame-private.html">  
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
        </div>
        <!-- /. ROW  -->
        <hr />
        <div class="row">
            <div class="col-md-12">
                <!-- Form Elements -->
                <div class="panel panel-default">

                    <div class="panel-body">
                        <h3><strong>Inserimento Immagine Copertina:</strong></h3>
                        <br>
                        <form name="form1" id="form1" action="Upload" method="post" enctype="multipart/form-data">
                            <input class="btn btn-primary" type="hidden" name="hiddenfield1" value="ok">
                            <br/>
                            <input href="homebackoffice.html" type="file" size="50" name="file1" id="file"/>
                            <br/>
                            <br/>
                            <input class="btn btn-primary" type="submit" name="upload" value="upload"/>
                        </form>
                        <br />
                    </div>
                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>
</div>
<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->

<!-- /. WRAPPER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="template/backoffice/assets/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="template/backoffice/assets/js/bootstrap.min.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="template/backoffice/assets/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="template/backoffice/assets/js/custom.js"></script>


</body>
</html>
